<div
  id="message_<%= message.id %>"
  class="chat <%= message.role == 'user' ? 'chat-end' : 'chat-start' %>"
>
  <div class="chat-header">
    <%= message.role&.capitalize %>
    <time class="text-xs opacity-50">
      <%= message.created_at&.strftime("%I:%M %p") %>
    </time>
  </div>
  <div class="chat-bubble">
    <div id="message_<%= message.id %>_content" style="white-space: pre-wrap;"><%= message.content %></div>
  </div>
  <% if message.tool_call? %>
    <%= render "messages/tool_calls", message: message %>
  <% end %>
  <div style="font-size: 0.85em; color: #666; margin-top: 5px;">
  </div>
</div>

