<%= turbo_stream_from @x_interest %>
<%= render @x_interest %>

<h4>Topics</h4>
<hr>

<div id="x_topics">
  <%= render @x_interest.x_topics %>
</div>

<hr>

<div>
  <%= link_to "Edit this x interest", edit_x_interest_path %>
  |
  <%= button_to "Destroy this x interest", @x_interest, method: :delete %>
</div>
