<div class="prose">
  <h4><%= @x_topic.title %></h4>
  <code>
    <%= @x_topic.formatted_queries %>
  </code>
</div>

<div>
  <%= link_to "Edit this x topic", edit_x_topic_path(@x_topic) %>
  |
  <%= link_to "Back to x topics", x_topics_path %>

  <%= button_to "Destroy this x topic", @x_topic, method: :delete %>
</div>
