<%= turbo_frame_tag "posts" do %>
  <div class="prose">
    <% @posts["tweets"].each do |p| %>
      <h4>@<%= p["author"]["userName"] %></h4>
      <p>
        <a href="<%= p["url"] %>">Link</a>
        <%= p["text"] %>
      </p>
      <div class="flex justify-between">
        <p>Likes:
          <%= p["likeCount"] %></p>
        <p>Quotes:
          <%= p["quoteCount"] %></p>
        <p>Views:
          <%= p["viewCount"] %></p>
        <p>Bookmarks:
          <%= p["bookmarkCount"] %></p>
      </div>
      <pre>
        <%= p %>
      </pre>
    <% end %>
    <% if @posts["tweets"].none? %>
      <p>No tweets</p>
    <% end %>
  </div>
<% end %>
