<%= form_with(model: [x_topic, x_search]) do |form| %>
  <div>
    <%= form.label :x_topic_id, style: "display: block" %>
    <%= form.text_field :x_topic_id %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
