<%= form_with(model: x_search) do |form| %>
  <% if x_search.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(x_search.errors.count, "error") %> prohibited this x_search from being saved:</h2>

      <ul>
        <% x_search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :x_topic_id, style: "display: block" %>
    <%= form.text_field :x_topic_id %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
